.wrapper{
  display: flex;
  justify-content: center;
}

.ark{
  /* border: 2px rgb(238, 168, 66) solid; */
  width: 150px;
  height: 200px;
  box-shadow: 0px 0px 7px #888888;
  overflow: hidden;
  position:   relative;
  user-select: none;
  margin: 20px;
}

.aktiv{
  box-shadow: 0px 0px 18px #888888 !important;

}

.bunn{
  display: flex;
  padding-left: 10px;
  position: absolute;
  bottom: 0px;
  height: 50px;
  width: 100%;
  font-size: 1.1em;
  align-items: center;
  font-family: sans-serif;
}

.aktiv .bunn{
  background-color: skyblue;
  color: white;
}

.bunn span::before{

}
